.movie-list_outer{
    padding-top: 100px;
    padding-left: 8.8%;

}
.movie-list_outer>h2{
    margin: 15px;
    color: aliceblue;
}
.movie-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.home-link{
    text-decoration: none;
}

@media screen and (max-width:420px){
    .movie-list_outer{
        padding-left: 3.2rem;
    }
    
 }
 @media screen and (min-width:360px) and (max-width:384px){
    .movie-list_outer{
        padding-left: 2.2rem;
    }
    
 }
 /* @media screen and (max-width:384px){
    .movie-list_outer{
        padding-left: 2.2rem;
    }
    
 } */
 /* @media screen and (max-width:810px){
    .movie-list_outer{
        padding-left: 7rem;
    }
    
} */