.movie-list_outer{
    padding: 30px 80px;

}
.movie-list_outer>h2{
    margin: 15px;
    color: aliceblue;
}
.movie-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.home-link{
    text-decoration: none;
}