.nav-bar{
    /* position: -webkit-sticky; */
    position: sticky;
    background-color: #0A2647;
    width: auto;
    height: 5rem;
    margin:1% 15% 0% 10%;
    border-radius: 60px;
    color: #F5F5DC;
    padding: 0px 30px;
}

.nav__item{
    display: flex;
    justify-content: center;
}

.site-name{
    margin-left: 10px;
}
@media screen and (max-width:420px){
    .site-name{
        font-size: 1.8rem;
        align-items: center;
    }
    
 }
 @media screen and (min-width:360px) and (max-width:420px){
    .site-name{
        font-size: 1.6rem;
       
    }
    .nav-bar{
        padding: 0.5rem 0 0 0;
        margin:1% 10% 0% 8%;
    }
    
 }
 
 
